@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
  }

  html, body {
    height: 100vh; /* 100% emas, 100vh bo'lishi shart */
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Butun ilova scroll bo'lmasligi kerak */
    background-color: #111827;
    -webkit-tap-highlight-color: transparent;
  }

  #root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* Scrollbar yashirish */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
